# Development values overrides
application:
  replicaCount: 1
  image:
    tag: "latest"
    pullPolicy: Always

cloudsqlProxy:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 256Mi

service:
  type: ClusterIP
